In [97]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [98]:
dataset = pd.read_csv("C:\\Users\\harsh\\OneDrive\\Documents\\churn dataset1.csv")

In [99]:
dataset.head(5)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,42,2,0.00,1,1,1,101348.88,1
1,608,41,1,83807.86,1,0,1,112542.58,0
2,502,42,8,159660.80,3,1,0,113931.57,1
3,699,39,1,0.00,2,0,0,93826.63,0
4,850,43,2,125510.82,1,1,1,79084.10,0

In [100]:
dataset.isnull().sum()

CreditScore        0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [101]:
input_data = dataset.iloc[:,:-1]
output_data = dataset.iloc[:,-1]

In [102]:
le = LabelEncoder()
output_data = le.fit_transform(output_data)

In [103]:
from sklearn.preprocessing import StandardScaler

In [104]:
ss = StandardScaler()
input_data = pd.DataFrame(ss.fit_transform(input_data),columns=input_data.columns)

In [105]:
input_data

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,-0.326221,0.293517,-1.041760,-1.225848,-0.911583,0.646092,0.970243,0.021886
1,-0.440036,0.198164,-1.387538,0.117350,-0.911583,-1.547768,0.970243,0.216534
2,-1.536794,0.293517,1.032908,1.333053,2.527057,0.646092,-1.030670,0.240687
3,0.501521,0.007457,-1.387538,-1.225848,0.807737,-1.547768,-1.030670,-0.108918
4,2.063884,0.388871,-1.041760,0.785728,-0.911583,0.646092,0.970243,-0.365276
...,...,...,...,...,...,...,...,...
9995,1.246488,0.007457,-0.004426,-1.225848,0.807737,0.646092,-1.030670,-0.066419
9996,-1.391939,-0.373958,1.724464,-0.306379,-0.911583,0.646092,0.970243,0.027988
9997,0.604988,-0.278604,0.687130,-1.225848,-0.911583,-1.547768,0.970243,-1.008643
9998,1.256835,0.293517,-0.695982,-0.022608,0.807737,0.646092,-1.030670,-0.125231
9999,1.463771,-1.041433,-0.350204,0.859965,-0.911583,0.646092,-1.030670,-1.076370

In [106]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2, random_state=42)

In [107]:
print(x_train.shape, y_train.shape)

(8000, 8) (8000,)

In [108]:
import tensorflow
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.models import Sequential

In [109]:
ann = Sequential()

In [110]:
ann.add(Dense(6,input_dim= 8,activation="relu"))
ann.add(Dense(4,activation="relu"))
ann.add(Dense(2,activation="relu"))
ann.add(Dense(1,activation="sigmoid"))

C:\Users\harsh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [111]:
ann.compile(optimizer='adam',loss="binary_crossentropy",metrics=['accuracy'])

In [112]:
ann.fit(x_train,y_train, batch_size=1,epochs= 20,callbacks=EarlyStopping())

Epoch 1/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 905us/step - accuracy: 0.7945 - loss: 0.4583
Epoch 2/20
 141/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 1ms/step - accuracy: 0.8427 - loss: 0.2966

C:\Users\harsh\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\keras\src\callbacks\early_stopping.py:99: UserWarning: Early stopping conditioned on metric `val_loss` which is not available. Available metrics are: accuracy,loss
  current = self.get_monitor_value(logs)

8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 906us/step - accuracy: 0.8164 - loss: 0.4042
Epoch 3/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 906us/step - accuracy: 0.8479 - loss: 0.3824
Epoch 4/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 932us/step - accuracy: 0.8521 - loss: 0.3729
Epoch 5/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 921us/step - accuracy: 0.8544 - loss: 0.3676
Epoch 6/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 918us/step - accuracy: 0.8526 - loss: 0.3644
Epoch 7/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 931us/step - accuracy: 0.8525 - loss: 0.3634
Epoch 8/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 924us/step - accuracy: 0.8534 - loss: 0.3614
Epoch 9/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 952us/step - accuracy: 0.8536 - loss: 0.3604
Epoch 10/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 927us/step - accuracy: 0.8551 - loss: 0.3596
Epoch 11/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 962us/step - accuracy: 0.8554 - loss: 0.3591
Epoch 12/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 926us/step - accuracy: 0.8545 - loss: 0.3587
Epoch 13/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 949us/step - accuracy: 0.8558 - loss: 0.3573
Epoch 14/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 7s 930us/step - accuracy: 0.8547 - loss: 0.3571
Epoch 15/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 944us/step - accuracy: 0.8569 - loss: 0.3574
Epoch 16/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 950us/step - accuracy: 0.8547 - loss: 0.3564
Epoch 17/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 983us/step - accuracy: 0.8561 - loss: 0.3552
Epoch 18/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 954us/step - accuracy: 0.8544 - loss: 0.3565
Epoch 19/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 981us/step - accuracy: 0.8549 - loss: 0.3559
Epoch 20/20
8000/8000 ━━━━━━━━━━━━━━━━━━━━ 8s 965us/step - accuracy: 0.8539 - loss: 0.3557

In [113]:
prd1= ann.predict(x_train)
prd_data1=[]
for i in prd1:
    if i[0]>0.5:
        prd_data1.append(1)
    else:
        prd_data1.append(0)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 607us/step

In [114]:
prd = ann.predict(x_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [115]:
prd_data=[]
for i in prd:
    if i[0]>0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)

In [116]:
from sklearn.metrics import accuracy_score

In [117]:
accuracy_score(y_test,prd_data)*100

86.15

In [118]:
accuracy_score(y_train,prd_data1)*100

85.675